/* Navigation body header section*/
.navigation_body{
    background-color: #F4FEFF;
}
a.nav-link{
color: #055379 !important;
}
/* .logoimg{
    width:22%;
} */
@media (max-width: 991px){
    .container{
        max-width: 100% !important;
        padding-left: 0;
        padding-right: 0;
    }
    .row{
        margin-left: 0px;
        margin-right: 0px;  
    }
}
/* conversion body height from loggerbody component */
.conversion_bodyinner{
    height:83vh;
}
/* testing */
.wrapper{
    height:97vh !important;
}
.sidenavbot_footer {
    /* background: fixed; */
    /* position: fixed; */
    bottom: 0;
    width: 98%;
    position: absolute;
    border-top: 1px solid #80808057;
}
#main{
    /* height: 100%; */
}
/* testing */
/* home componenet */
.slider-padding {
    padding-top: 0px;
}
.service-area .services-caption .service-icon span{
    background: #055379 !important; ;
}
.service-area .services-caption .service-cap h4 a {
    color: #055379 !important;
}
.best-features-area .single-features .features-icon span {
  
    background-image:linear-gradient(90deg, #055379 0%, #926ef8 100%);

}
.best-features-area .single-features .features-caption h3 {
    color: #055379;
}
a.btn.radius-btn {
    background: #055379;
}
a.btn.radius-btn::before {
    background: none;
}
/* button.btn.btn-danger {
} */
/* .getstarted_btn{
    background: #055379;
} */
.navigation_body {
    background-color: #F4FEFF;
    position: fixed;
    width: 100%;
    z-index: 99999;
}
.activeheader{
    background-color:#FFFF;
    box-shadow: 0 10px 15px rgba(25,25,25,0.1);
}

.section-padd4 {
    padding-top: 50px;
    padding-bottom: 0px;
}
.available-app-area {
    background-image: linear-gradient(0deg, #005D81 0%, #221d509e 100%) !important;
    /* background-image: -moz-linear-gradient(0deg, #055379 0%, #f9218d 100%);
    background-image: -webkit-linear-gradient(0deg, #005D81 0%, #221d509e 100%);
    background-image: -ms-linear-gradient(0deg, #6c19f6 0%, #f9218d 100%); */
}
/* Footer */

.footer-padding {
    padding-top: 39px;
    padding-bottom: 0px;
}
.footer-area .footer-copy-right {
    padding-top: 0px;
}
/* .footer-main {
    background: #f4feff;
} */
.footer-area .footer-tittle ul li a {
    color: #222222;
    font-weight: 400;
}
.footer-area .footer-pera .info1 {
    color: #222222;
}

/* ADMIN loggedheader */

.btn::before{
    background: none !important;
}
.btn{
    background:  #07597E !important;
    border-color: #16181a !important;
}

.dropdownimg{
        width: 40px;
        height: 40px;
        border-radius: 50%;
        margin-right: 8px;
}
.dpbtn::after {
    display: none;
}
.chatroom_logo{
    width: 69% !important;
}
.main-sidebar {
    background: bottom;
}
.sidebar-collapse{
    line-height: 2.4 !important;
}

/* loggerbody component */

.conversion_body1{
    /* background-color: #fff; */
    /* box-shadow: -1px -5px 0 0 rgba(0,0,0,.01);
    transition: all .3s;
    border-radius: 7px;
    padding: 10px; */
    border-right: 1px solid #e8dbdb;
    box-shadow: -1px -5px 0 0 rgba(0,0,0,.01);
    border-radius: 7px 0px 0px 7px;
    background-color: #fff;
}
.conversion_body2{
    box-shadow: -1px -5px 0 0 rgba(0,0,0,.01);
    border-radius: 0px 7px 7px 0px;
    background-color: #fff;
    position: relative;
}
.chaticon {
    color: green;
    font-size: 30px;
    padding: 10px;
}
.serchInput{
    background: #ebebeb;
}
.nav-tabs .nav-link.active {
    /* color: #495057; */
    background-color: #fff;
    /* width: 50%; */
    /* border-color: #dee2e6 #dee2e6 #fff; */
}
.asidetabchat{
    text-align: center;
    width: 50%;
}
.asidetabchat.active{
    border-bottom: 1px solid blue !important;
}

.logger_singleuserimg{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.logger_sidetab1 {
    vertical-align: top;
    display: inline-block;
}
.logger_sidetab2 {
    display: inline-block;
    margin-left: 8px;
}
.logger_chatusername {
    margin-bottom: 0px;
    font-size: 13px;
    padding-bottom: 0px;
    padding-top:4px;
}
.logger_chatusertagline {
    padding-top: 0px;
    margin-top: 0px;
    line-height: 20px;
    font-size: 11px;
}
.logger_chartime {
    margin-bottom: 0;
    font-size: 12px;
    line-height: 24px;
    padding-top: 5px;
}
.logger_dropdownbtn{
    transform: rotate(90deg);
    padding: .200rem .2rem;
    background: none !important;
    border: none !important;
}
.logger_dropdownbtn::after{
display: none;
}
p.logger_drptext {
    margin: 0;
    line-height: 13px;
    font-size: 22px;
    color: #07597E !important;
}
.blackButton{
    border-left: 2px solid green;
    background: #e6e6e6;
}
.blackButton:hover{
    cursor: pointer;
    background: #e6e6e6;
}
.loggerinnerbody{
    cursor: pointer;
}
.activeuserimg {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.activeuser {
    display: inline-block;
    vertical-align: top;
}
.activeuser_detail {
    display: inline-block;
    margin-left: 10px;
    padding-top: 5px;
}
.activeusername {
    margin-bottom: 0;
    padding-bottom: 0;
}
.activeuser_tagline {
    line-height: 21px;
    font-size: 13px;
    color: green;
    margin-bottom: 0;
}

/* Css for right navigation */


/* .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1111;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  } */

  .sidenav {
    box-shadow: 0 0px 3px rgba(0,0,0,.25),0 0px 0px rgba(0,0,0,.22)!important;
    height: 100%;
    width: 0;
    /* position: fixed; */
    z-index: 1111;
    top: 0;
    right: 0;
    background-color:#ffffff;
    /* background-color: #111; */
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 15px;
    position: absolute;
  }
  
  .sidenav a {
      padding: 8px 8px 8px 32px;
      text-decoration: none;
      font-size: 25px;
      color: #818181;
      display: block;
      transition: 0.3s;
  }
  
  .slideBtn {
    transition: .5s;
    /* position: fixed; */
    right: 37px;  
    font-size:30px;
    cursor:pointer;
    margin-right:10px;
  }
  
  #main {
    transition: .5s;  
    background-color:white;
  }
  
  section{
    padding: 0px;
    margin:0px;
    /* border-bottom: 1px solid #80808057; */
    /* padding:20px; */
  }
  section+section{
    padding-top:0;
  }
  
  article{  
    border-top:1px solid green;
    background-color:gray;
  }
  .sidenavImg {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-top: 4px;
}
.sidenav_status{
    font-size: 12px;
    color: #07597E;
}
.sidenav_statusdot{
    color: green;
}
.sidenav_abouttag{
    color: #07597E;
}
.sidenavinner1{
    border-bottom: 1px solid #07597E;
}

.sidenav_bioheading {
    padding-top: 8px;
    color: #07597E;
    margin-bottom: 0;
}
.sidenav_biotext {
    margin-bottom: 0;
    font-size: 12px;
    line-height: 25px;
    text-align: start;
    padding-left: 9px;
    color: black;
}
.typetextbox1{
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
.textboxinput{
    background-color: #8080803b !important;
}
.sendicon {
    background-color: #8080803b;
    padding: 16px;
    border-radius: 50%;
    margin: 5px;
}

.sendbtn {
    margin: 6px;
    border-radius: 50%;
    background-color: #8080803b !important;
    border: none;
    color: black;
}
.sendbtn:hover{
    color: #07597E !important;
}
.sidenav_bodysection1 {
    border-bottom: 1px solid #80808057;
}

.chat__msg-day-divider {
    height: 1px;
    background-color: #ebebeb;
    margin: 35px 0;
}
.chat__msg-day-title {
    width: fit-content;
    background-color: #fff;
    font-weight: 500;
    position: relative;
    height: 42px;
    border-radius: 4px;
    top: -22px;
    padding: 10px 25px;
}
.sidenavbot_footerinner{
    background: #fff;
}
/* ******************* */


#chat{
    padding-left:0;
    margin:0;
    list-style-type:none;
    overflow-y:scroll;
    height:535px;
    border-top:2px solid #fff;
    border-bottom:2px solid #fff;
    text-align: start;
    height: calc(100vh - 35vh);
}
#chat li{
    padding:10px 30px;
}
#chat h2,#chat h3{
    display:inline-block;
    font-size:13px;
    font-weight:normal;
}
#chat h3{
    color:#bbb;
}
#chat .entete{
    margin-bottom:5px;
}
#chat .message{
    padding:20px;
    color:#fff;
    line-height:25px;
    max-width:90%;
    display:inline-block;
    text-align:left;
    border-radius:5px;
}
#chat .me{
    text-align:right;
}
#chat .you .message{
    background-color:#58b666;
}

#chat .me .message{
    background-color:#6fbced;
}

#chat .triangle{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 10px 10px 10px;
}

#chat .you .triangle{
        border-color: transparent transparent #58b666 transparent;
        margin-left:15px;
}

#chat .me .triangle{
        border-color: transparent transparent #6fbced transparent;
        margin-left: auto;
        margin-right: 15px;
}

.entete>h2{
    margin: 6px;
}


/* model dialogue box */

@media (min-width: 576px){
.groupmodalbody {
    max-width: 45%;
    margin: 1.75rem auto;
}
.newconversationmodal{
    max-width:30% !important;
}
}

.uploadimg {
    width: 125px !important;
    height: 125px;
    border-radius: 50%;
}
/* *******************AVATAR */

.avatar-upload {
    position: relative;
    max-width: 205px;
    margin: 10px auto 30px;
  }
  
  .avatar-upload .avatar-edit {
    /* position: absolute;
    right: 19px;
    z-index: 1;
    top: 13px; */
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 35%;
    margin-right: -50%;
    transform: translate(-50%, 128%);
   
  }
  
  .avatar-upload .avatar-edit .custom-label {
    display: inline-block;
    width: 34px;
    height: 34px;
    margin-bottom: 0;
    border-radius: 100%;
    background: #3efc78;
    border: 1px solid transparent;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    font-weight: normal;
    transition: all 0.2s ease-in-out;
  }
  
  .avatar-upload .avatar-edit .upload-image {
    background: #3efc78;
  }
  
  .avatar-upload .avatar-edit .remove-image {
    background: #E91E63;
  }
  
  .avatar-upload .avatar-edit .custom-label:hover {
    opacity: 1;
  }
  
  .avatar-upload .avatar-edit .custom-label:after {
    position: absolute;
    text-align: center;
    margin: auto;
    top: 8px;
    right: 0;
    left: 2px;
    width: 18px;
  }
  
  .avatar-upload .avatar-edit .upload-image:after {
    content: url('/assets/edit.svg');
  }
  
  .avatar-upload .avatar-edit .remove-image:after {
    content: url('/assets/close.svg');
    left: 0px !important;
  }
  
  .avatar-upload .avatar-preview {
    width: 140px;
    height: 140px;
    position: relative;
    border-radius: 100%;
    overflow: hidden;
    border: 12px solid #fff;
    -webkit-box-shadow: 0 0 45px rgba(0, 0, 0, .2);
    -moz-box-shadow: 0 0 45px rgba(0, 0, 0, .2);
    box-shadow: 0 0 45px rgba(0, 0, 0, .2);
  }
  
  .avatar-upload .avatar-preview>div {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  
  #imagePreview {
    /* width: 180px; */
    width: 100%;
    height: 100%;
    border-radius: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    /* height: 180px; */
}

     


.fileinputlabel{
    padding: 7px;
    /* background: red; */
    display: table;
    color: #fff;
    background: #055379;
    border-radius: 6px;
    font-size: 12px;
     }



input[type="file"] {
    display: none;
}
.radioformgoruplabel{
    vertical-align: middle;
    margin-right: 14px;
}
.addbtns{
    font-size: 13px;
    padding: 6px;
    border: none;
}
.membersdiv {
    max-height: 310px;
    overflow-y: auto;
    overflow-x: hidden;
}
.groupmodelinner1 {
    margin-bottom: 0px;
    padding-bottom: 0px;
}
.removebtn{
    font-size: 13px;
    padding: 6px;
    border: none;
    background: #ff0400 !important;
}
.groupcancelbtn,.groupsavebtn {
    background: #07597E;
    border: none;
    border-radius: 3px;
    font-size: 16px;
}
.groupmodelheader{
    background: #07597E;
    color: #ffff;
}
.groupmodelheader.modal-header>button {
    opacity: 1;
    color: #ffff;
}

/* new conversion modal */

.mycontactlist {
    max-height: 250px;
    overflow-y: scroll;
    overflow-x: hidden;
}
.conversationheding{
    font-size: 16px;
}
.conversationheader{
    background: #07597E;
    color: #ffff;
}
.conversationheader>button{
    color: #ffff;
    opacity: 1;
}
.contactinner{
    border-bottom: 1px solid #8080801c;
}
.contactinner:hover{
    cursor: pointer;
   
}